<footer class="footer">
    <div class="b-container">

        <ul class="accordion">
            <li>
                <p class="accordion__title"><a href="#">Продукция <img src="img/arr-foot.svg" alt=""></a></p>
                <ul class="accordion__submenu">
                    <li><a class="accordion__submenu-item" href="#">Шкафы холодильные</a></li>
                    <li><a class="accordion__submenu-item" href="#">Столы холодильные</a></li>
                    <li><a class="accordion__submenu-item" href="#">Камеры холодильные</a></li>
                    <li><a class="accordion__submenu-item" href="#">Машины холодильные</a></li>
                </ul>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Где купить</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Сервис и поддержка</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Решения</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">О компании</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Медиа</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Новости</a></p>
            </li>
            <li>
                <p class="accordion__title"><a href="#">Контакты</a></p>
            </li>
        </ul>

        <div class="footer__wrapper">
            <ul class="footer__list">
                <li class="footer__list-title"><a href="javascript:void(0);">Продукция</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Шкафы холодильные</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Столы холодильные</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Камеры холодильные</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Машины холодильные</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Шоковая заморозка</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Лари морозильные</a></li>
            </ul>

            <ul class="footer__list">
                <li class="footer__list-item"><a href="javascript:void(0);">Модульные стеллажные системы</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Оборудование для пекарен</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Барные столы и шкафы</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Шкафы для вызревания</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Продуктоматы iCell</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Термоконтейнеры FoodLine</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Шкафы медицинские <span><img src="img/arrow.svg" alt=""></span>
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Сервис и поддержка</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Найти авторизованный сервисный центр</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Скачайте документы и рекламные материалы</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Найти авторизованный сервисный центр</a></li>
                <li class="footer__list-item"><a href="javascript:void(0);">Сообщить о неисправности оборудования <span><img
                                src="img/arrow.svg" alt=""></span></a></li>
            </ul>

            <ul class="footer__list">
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Где купить</a></li>
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Решения</a></li>
                <li class="footer__list-subtitle"><a href="javascript:void(0);">О компании</a></li>
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Медиа</a></li>
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Новости</a></li>
                <li class="footer__list-subtitle"><a href="javascript:void(0);">Контакты</a></li>
            </ul>
        </div>
        <span class="footer__line"></span>
        <div class="footer__wrapper-small">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="javascript:void(0);">Подбор холодильного стола Polair™</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="javascript:void(0);">Подбор холодильной машины Polair™</a></li>
            </ul>
        </div>
    </div>
    <span class="footer__line-fool"></span>
    <div class="b-container">
        <div class="footer__bot">
            <div class="footer__info">
                <a class="footer__logo" href="javascript:void(0);">
                    <img src="img/logo.svg" alt="">
                </a>
                <p class="footer__text">© АО «Полаир-Недвижимость» 2022</p>
                <ul class="footer__list-politic">
                    <li><a href="javascript:void(0);">Сделано в <span>CULT</span></a></li>
                    <li><a href="javascript:void(0);">Политика конфиденциальности</a></li>
                    <li><a href="javascript:void(0);">Карта сайта</a></li>
                </ul>
            </div>
            <div class="footer__contact">
                <div class="footer__contact-wrapper">
                    <div class="footer__phone">
                        <a href="tel:84959376407">+7 (495) 937-64-07</a>
                        <span>многоканальный</span>
                    </div>
                    <ul class="footer__social">
                        <li><a href="javascript:void(0);"><img src="img/vk.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);"><img src="img/telegramm.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);"><img src="img/youtobe.svg" alt=""></a></li>
                        <li><a href="javascript:void(0);"><img src="img/p.svg" alt=""></a></li>
                    </ul>
                </div>
                <p class="footer__text">119334, город Москва, Ленинский проспект, дом 37, корпус 1, помещение 2-5,
                    этаж 4</p>
                <p class="footer__small-text">При использовании материалов сайта ссылка обязательна.</p>
                <p class="footer__small-text">Данный интернет-сайт носит исключительно информационный характер,
                    и информация,
                    размещённая на нём, не является публичной офертой, определяемой положениями ст. 437 ГК РФ.</p>
            </div>
        </div>
    </div>
</footer>


<script src="js/jqw.js"></script>
<script src="js/slick.js"></script>
<script src="js/main.js"></script>
</body>

</html>