<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="img/favicon.png">
</head>

<body class="body">
    <header class="header" id="home">
        <nav class="header__nav b-container">
            <a class="header__link-logo" href="javascript:void(0);">
                <img src="img/main-logo.svg" alt="">
            </a>
            <div class="header__show">
                <p class="header__text">Профессиональное оборудование для предприятий общественного питания и торговли
                </p>
                <div class="header__content">
                    <a class="header__connection" href="javascript:void(0);"><img src="img/mail.png" alt="">Обратная связь</a>
                    <a class="header__language" href="javascript:void(0);">Eng</a>
                    <a class="header__search" href="javascript:void(0);"><img src="img/search.png" alt=""></a>
                </div>
            </div>
            <a class="header__search-mobile" href="javascript:void(0);"><img src="img/search.png" alt=""></a>
            <div class="hamburger">
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
            </div>
        </nav>
    </header>